<!DOCTYPE html>
<!-- en el xmlns: podemos poner la etiqueta que queramos en este caso ponemos th de thymelaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:text="${title}">Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <p th:text="${Kilometros} + ' ' + KM"></p>
    <p>lore imsum</p>
</body>
</html>